
:root {
    --app-height: 100%;
}

@font-face {
    font-family: 'Paper Mario Headers';
    font-style: normal;
    font-weight: 400;
    src: url('headers.ttf');
}

@font-face {
    font-family: 'Paper Mario Text';
    font-style: normal;
    src: url('text.woff');
}

html {
    background-color: #5d8261;
    background-image: url('paper.png');
    margin: 0;
}

a[href] {
    color: #3859bb;
    text-decoration: none;
}

h1 {
    font-family: 'Paper Mario Headers';
    font-size: 52px;
    background: -webkit-linear-gradient(#ff0c0c,#ffb300);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 3px #eee;
    filter: drop-shadow(1px 2px 1px #222);
    margin: 0;
    padding: 1rem 0;
    line-height: 2.8rem;
}

body {
    position: relative;
    background-color: #e0e0d7;
    background-image: url('paper.png');
    max-width: 800px;
    border: 20px;
    border-radius: 20px;
    margin: 8px auto;
    font-family: 'Paper Mario Text';
    text-align: center;
    box-shadow: 0px 3px 5px #222;
    min-height: 800px;
    color: #222;
}

.content {
    padding: 10px;
    padding-bottom: 2rem;
}

#controls {
    margin: 5px;
}

.control {
    display: inline-block;
    white-space: nowrap;
    margin: 2px 5px;
}

.control[onstate] {
    display: none;
}

#controls[states~=choosing] .control[onstate~=choosing],
#controls[states~=moving] .control[onstate~=moving],
#controls[states~=undo] .control[onstate~=undo] {
    display: inline-block
}

#controls[states~=hidden] {
    visibility: hidden;
}

.overlay-box, overlay-box::before {
    background-image: url('paper.png');
    background-size: 4px 4px;
}

.overlay-box {
    background-color: #f3f3f1;
    font-family: 'Paper Mario Headers';
    float: right;
    z-index: 10;
    position: relative;
    box-shadow: #222 1px 1px 2px -1px;
    padding: 4px 4px 4px 30px;
    margin-right: -10px;
    top: 50px;
    width: 20%;
}

.overlay-box::before {
    width: 10px;
    height: 100%;
    background-color: #ded933;
    /* TODO: figure out a less hacky way to do this. */
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.overlay-box h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    color: #444;
}

.ring-moves-wrapper {
    text-align: left;
    width: fit-content;
}

#ring-moves, #ring-moves::before {
    font-size: 32px;
    color: #82d681;
    font-weight: bold;
    -webkit-text-stroke: 2.5px #fff;
    text-shadow: #000 0 0 3px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    line-height: 1.5rem;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

#stage {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#stage canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#solve-button {
    appearance: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: 'Paper Mario Headers';
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 3px 0 #222;
}

#solve-button:active:hover {
    box-shadow: 0 1px 1.5px 0 #222;
}

#solve-button:active:hover, #solve-button.solving {
    background-color: #5555c7;
}

#solve-button.solving::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 900ms infinite;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    width: 0;
}

@keyframes ellipsis {
    to {
        width: 1em;
        margin-right: -1em;
    }
}

#solve-button.error {
    background-color: #c2403b;
}

.mobile-controls {
    display: none;
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    #stage {
        width: 100%;
        height: 100%;
        padding-bottom: 100%;
    }
}

@media screen and (max-width: 600px) {
    html {
        background-color: #e0e0d7;
        margin: 0;
    }

    h1 {
        font-size: 42px;
    }

    body {
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        background-image: none;
        background-color: transparent;
        min-height: var(--app-height);
        margin: 0;
    }

    .content {
        padding: 0 0 3rem 0;
    }

    footer {
        position: absolute;
    }

    .overlay-box, .desktop-controls, #cursor-layer {
        display: none;
    }

    .mobile-controls {
        display: block;
    }
}

#overlay-layer {
    z-index: 4;
}

#enemy-layer {
    z-index: 3;
}

#cursor-layer {
    z-index: 2;
}

#ring-layer {
    z-index: 1;
}
